%basic-button {
    padding: 10px 30px;
    color: #232323;
    letter-spacing: 1.5px;
    font-family: $ff;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    border-radius: 30px;
    margin: 0 auto;
    cursor: crosshair;
}


// Basic Button Colors with Background Change
.change-color.color-robin {
    @include button-bg(#94d2ff);
    @extend %basic-button;
    margin: 10px 20px;
    &:hover {
        background: #fc7a66;
        transition: background 1.2s ease-out;
    }
}

.change-color.color-strawberry {
    @include button-bg(#fc7a66);
    @extend %basic-button;
    margin: 10px 20px;
    &:hover {
        background: #bada55;
        transition: background 1.2s ease-out;
    }
}

.change-color.color-avocado {
    @include button-bg(#bada55);
    @extend %basic-button;
    margin: 10px 20px;
    &:hover {
        background: #7fc3a1;
        transition: background 1.2s ease-out;
    }
}

.change-color.color-honeydew {
    @include button-bg(#fef88c);
    @extend %basic-button;
    margin: 10px 20px;
    &:hover {
        background: #d8b2d8;
        transition: background 1.2s ease-out;
    }
}

.change-color.color-lilac {
    @include button-bg(#d8b2d8);
    @extend %basic-button;
    margin: 10px 20px;
    &:hover {
        background: #fef88c;
        transition: background 1.2s ease-out;
    }
}

