@mixin button-bg($bg) {
    background: $bg;
    &:hover {
        background: darken($bg, 10%);
        transition: all 0.3s ease;
    }
    &:active {
        background: darken($bg, 25%);
    }
    &:focus {
        outline: none;
    }
}

// Basic button style CSS selector and its properties (for left tilt)
%basic-button-left {
    background: #d2d2d2;
    padding: 10px 30px;
    color: #232323;
    letter-spacing: 1.5px;
    font-family: $ff;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    border-radius: 15px 50px;
    margin: 0 auto;
    cursor: crosshair;
}

// Basic Button Colors with Left Tilt
#basicButtonRobinLeft {
    @include button-bg(#94d2ff);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonStrawberryLeft {
    @include button-bg(#fc7a66);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonAvocadoLeft {
    @include button-bg(#bada55);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonHoneyDewLeft {
    @include button-bg(#fef88c);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonLilacLeft {
    @include button-bg(#d8b2d8);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonLilacLeft {
    @include button-bg(#d8b2d8);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonTealLeft {
    @include button-bg(#9bdddd);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonCocoaLeft {
    @include button-bg(#c9b2b4);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonGrassLeft {
    @include button-bg(#7fc3a1);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonTangerineLeft {
    @include button-bg(#ffa584);
    @extend %basic-button-left;
    margin: 10px 20px;
}

// Basic button style CSS selector and its properties (for right tilt)
%basic-button-right {
    background: #d2d2d2;
    padding: 10px 30px;
    color: #232323;
    letter-spacing: 1.5px;
    font-family: $ff;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    border-radius: 50px 15px;
    margin: 0 auto;
    cursor: crosshair;
}

// Basic Button Colors with Right Tilt
#basicButtonRobinRight {
    @include button-bg(#94d2ff);
    @extend %basic-button-right;
    margin: 10px 20px;
}

#basicButtonStrawberryRight {
    @include button-bg(#fc7a66);
    @extend %basic-button-right;
    margin: 10px 20px;
}

#basicButtonAvocadoRight {
    @include button-bg(#bada55);
    @extend %basic-button-right;
    margin: 10px 20px;
}

#basicButtonHoneyDewRight {
    @include button-bg(#fef88c);
    @extend %basic-button-right;
    margin: 10px 20px;
}

#basicButtonLilacRight {
    @include button-bg(#d8b2d8);
    @extend %basic-button-right;
    margin: 10px 20px;
}

#basicButtonLilacRight {
    @include button-bg(#d8b2d8);
    @extend %basic-button-right;
    margin: 10px 20px;
}

#basicButtonTealRight {
    @include button-bg(#9bdddd);
    @extend %basic-button-right;
    margin: 10px 20px;
}

#basicButtonCocoaRight {
    @include button-bg(#c9b2b4);
    @extend %basic-button-right;
    margin: 10px 20px;
}

#basicButtonGrassRight {
    @include button-bg(#7fc3a1);
    @extend %basic-button-right;
    margin: 10px 20px;
}

#basicButtonTangerineRight {
    @include button-bg(#ffa584);
    @extend %basic-button-right;
    margin: 10px 20px;
}

@mixin gradient-bg($bg1, $bg2, $bg3, $bg4) {
    background-image: linear-gradient(to left, $bg1, $bg2, $bg3, $bg4);
    padding: 10px 30px;
    color: #ffffff;
    letter-spacing: 1.2px;
    font-family: $ff3;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    border-radius: 30px;
    margin: 0 auto;
    cursor: crosshair;
    box-shadow: 0 5px 15px 0 rgba(119, 119, 119, 0.75);
    &:focus {
        outline: none;
    }
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
} 

.gradient-button.color-blue {
    @include gradient-bg(#12CBC4, #1289A7, #0652DD, #1B1464);
    @include transform(rotate(0deg));
    &:hover {
        @include transform(rotate(180deg));
    }
    margin: 10px 20px;
}

.gradient-button.color-red {
    @include gradient-bg(#FFC312, #F79F1F, #EE5A24, #EA2027);
    @include transform(rotate(0deg));
    &:hover {
        @include transform(rotate(180deg));
    }
    margin: 10px 20px;
}

.gradient-button.color-purple {
    @include gradient-bg(#FDA7DF, #D980FA, #9980FA, #5758BB);
    @include transform(rotate(0deg));
    &:hover {
        @include transform(rotate(180deg));
    }
    margin: 10px 20px;
}

.gradient-button.color-green {
    @include gradient-bg(#C4E538, #A3CB38, #009432, #006266);
    @include transform(rotate(0deg));
    &:hover {
        @include transform(rotate(180deg));
    }
    margin: 10px 20px;
}

.gradient-button.color-pink {
    @include gradient-bg(#ED4C67, #B53471, #833471, #833471);
    @include transform(rotate(0deg));
    &:hover {
        @include transform(rotate(180deg));
    }
    margin: 10px 20px;
}

.gradient-button.color-blue2 {
    @include gradient-bg(#82ccdd, #60a3bc, #3c6382, #0a3d62);
    @include transform(rotate(0deg));
    &:hover {
        @include transform(rotate(180deg));
    }
    margin: 10px 20px;
}

.gradient-button.color-red2 {
    @include gradient-bg(#f8c291, #e55039, #eb2f06, #b71540);
    @include transform(rotate(0deg));
    &:hover {
        @include transform(rotate(180deg));
    }
    margin: 10px 20px;
}

.gradient-button.color-yellow {
    @include gradient-bg(#fad390, #f6b93b, #fa983a, #e58e26);
    @include transform(rotate(0deg));
    &:hover {
        @include transform(rotate(180deg));
    }
    margin: 10px 20px;
}

.gradient-button.color-green2 {
    @include gradient-bg(#b8e994, #78e08f, #38ada9, #079992);
    @include transform(rotate(0deg));
    &:hover {
        @include transform(rotate(180deg));
    }
    margin: 10px 20px;
}

.zoom-button.color-blue {
    @include gradient-bg(#12CBC4, #1289A7, #0652DD, #1B1464);
    @include transform(scale(1));
    &:hover {
        @include transform(scale(1.2));
    }
    margin: 10px 20px;
}

.zoom-button.color-red {
    @include gradient-bg(#FFC312, #F79F1F, #EE5A24, #EA2027);
    @include transform(scale(1));
    &:hover {
        @include transform(scale(1.2));
    }
    margin: 10px 20px;
}

.zoom-button.color-purple {
    @include gradient-bg(#FDA7DF, #D980FA, #9980FA, #5758BB);
    @include transform(scale(1));
    &:hover {
        @include transform(scale(1.2));
    }
    margin: 10px 20px;
}

.zoom-button.color-green {
    @include gradient-bg(#C4E538, #A3CB38, #009432, #006266);
    @include transform(scale(1));
    &:hover {
        @include transform(scale(1.2));
    }
    margin: 10px 20px;
}

.zoom-button.color-pink {
    @include gradient-bg(#ED4C67, #B53471, #833471, #833471);
    @include transform(scale(1));
    &:hover {
        @include transform(scale(1.2));
    }
    margin: 10px 20px;
}

.zoom-button.color-blue2 {
    @include gradient-bg(#82ccdd, #60a3bc, #3c6382, #0a3d62);
    @include transform(scale(1));
    &:hover {
        @include transform(scale(1.2));
    }
    margin: 10px 20px;
}

.zoom-button.color-red2 {
    @include gradient-bg(#f8c291, #e55039, #eb2f06, #b71540);
    @include transform(scale(1));
    &:hover {
        @include transform(scale(1.2));
    }
    margin: 10px 20px;
}

.zoom-button.color-green2 {
    @include gradient-bg(#b8e994, #78e08f, #38ada9, #079992);
    @include transform(scale(1));
    &:hover {
        @include transform(scale(1.2));
    }
    margin: 10px 20px;
}

.zoom-button.color-yellow {
    @include gradient-bg(#fad390, #f6b93b, #fa983a, #e58e26);
    @include transform(scale(1));
    &:hover {
        @include transform(scale(1.2));
    }
    margin: 10px 20px;
}