// Basic button style CSS selector and its properties (for left tilt)
%basic-button-left {
    padding: 10px 30px;
    color: #232323;
    letter-spacing: 1.5px;
    font-family: $ff;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    border-radius: 15px 50px;
    margin: 0 auto;
    cursor: crosshair;
}

// Basic Button Colors with Left Tilt
#basicButtonRobinLeft {
    @include button-bg(#94d2ff);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonStrawberryLeft {
    @include button-bg(#fc7a66);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonAvocadoLeft {
    @include button-bg(#bada55);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonHoneyDewLeft {
    @include button-bg(#fef88c);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonLilacLeft {
    @include button-bg(#d8b2d8);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonLilacLeft {
    @include button-bg(#d8b2d8);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonTealLeft {
    @include button-bg(#9bdddd);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonCocoaLeft {
    @include button-bg(#c9b2b4);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonGrassLeft {
    @include button-bg(#7fc3a1);
    @extend %basic-button-left;
    margin: 10px 20px;
}

#basicButtonTangerineLeft {
    @include button-bg(#ffa584);
    @extend %basic-button-left;
    margin: 10px 20px;
}