// Gradient Colors (with Rotating Animation)
.rotate-button.color-blue {
    @include gradient-bg(#12CBC4, #1289A7, #0652DD, #1B1464);
    -webkit-transition: -webkit-transform 2s; /* Safari */
    transition: transform 2s;
    &:hover {
        @include transform(rotate(360deg)); 
    }
    margin: 10px 20px;
}

.rotate-button.color-red {
    @include gradient-bg(#FFC312, #F79F1F, #EE5A24, #EA2027);
    -webkit-transition: -webkit-transform 2s; /* Safari */
    transition: transform 2s;
    @include transform(rotate(0deg));
    &:hover {
        @include transform(rotate(360deg));
    }
    margin: 10px 20px;
}