@mixin button-bg($bg) {
    background: $bg;
    &:hover {
        background: darken($bg, 10%);
        transition: all 0.3s ease;
    }
    &:active {
        background: darken($bg, 25%);
    }
}

// Basic button style CSS selector and its properties
%basic-button {
    background: #d2d2d2;
    padding: 10px 30px;
    color: #232323;
    letter-spacing: 1.5px;
    font-family: $ff;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    border-radius: 15px 50px;
    margin: 0 auto;
}

#basicButtonRobin {
    @include button-bg(#94d2ff);
    @extend %basic-button;
    margin: 10px 20px;
}

#basicButtonStrawberry {
    @include button-bg(#fc7a66);
    @extend %basic-button;
    margin: 10px 20px;
}

#basicButtonAvocado {
    @include button-bg(#bada55);
    @extend %basic-button;
    margin: 10px 20px;
}

#basicButtonHoneyDew {
    @include button-bg(#fef88c);
    @extend %basic-button;
    margin: 10px 20px;
}

#basicButtonLilac {
    @include button-bg(#d8b2d8);
    @extend %basic-button;
    margin: 10px 20px;
}

#basicButtonLilac {
    @include button-bg(#d8b2d8);
    @extend %basic-button;
    margin: 10px 20px;
}

#basicButtonTeal {
    @include button-bg(#9bdddd);
    @extend %basic-button;
    margin: 10px 20px;
}

#basicButtonCocoa {
    @include button-bg(#c9b2b4);
    @extend %basic-button;
    margin: 10px 20px;
}

#basicButtonGrass {
    @include button-bg(#7fc3a1);
    @extend %basic-button;
    margin: 10px 20px;
}

#basicButtonTangerine {
    @include button-bg(#ffa584);
    @extend %basic-button;
    margin: 10px 20px;
}