// Basic button CSS properties
%basic-button-change {
    padding: 10px 30px; // Padding within button
    color: #232323;
    letter-spacing: 1.5px; // Spacing between letters
    font-family: $ff; // Main font style
    font-weight: 700;
    text-decoration: none;
    font-size: 18px; // Font size
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3; // Box shadow (Mozilla)
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3; // Box shadow (Safari)
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3; // Box shadow
    border-radius: 30px; // Rounded corners of border
    margin: 0 auto;
    cursor: crosshair; // Cursor style
}


// Basic Button Colors with Background Change

// Robin Color
.change-color.color-robin {
    @include button-bg(#94d2ff); // Includes @mixin to darken chosen background
    @extend %basic-button-change; // Extends the set of properties above to this button
    margin: 10px 20px; // Space around button
    &:hover {
        background: #fc7a66; // Background changes upon hover
        transition: background 1.2s ease-out; // Transition on background, duration and timing function
    }
}

// Strawberry Color
.change-color.color-strawberry {
    @include button-bg(#fc7a66);
    @extend %basic-button-change;
    margin: 10px 20px;
    &:hover {
        background: #bada55;
        transition: background 1.2s ease-out;
    }
}

// Avocado Color
.change-color.color-avocado {
    @include button-bg(#bada55);
    @extend %basic-button-change;
    margin: 10px 20px;
    &:hover {
        background: #fef88c;
        transition: background 1.2s ease-out;
    }
}

// Honeydew Color
.change-color.color-honeydew {
    @include button-bg(#fef88c);
    @extend %basic-button-change;
    margin: 10px 20px;
    &:hover {
        background: #d8b2d8;
        transition: background 1.2s ease-out;
    }
}
 
// Lilac Color
.change-color.color-lilac {
    @include button-bg(#d8b2d8);
    @extend %basic-button-change;
    margin: 10px 20px;
    &:hover {
        background: #fef88c;
        transition: background 1.2s ease-out;
    }
}

// Teal Color
.change-color.color-teal {
    @include button-bg(#9bdddd);
    @extend %basic-button-change;
    margin: 10px 20px;
    &:hover {
        background: #c9b2b4;
        transition: background 1.2s ease-out;
    }
}

// Cocoa Color
.change-color.color-cocoa {
    @include button-bg(#c9b2b4);
    @extend %basic-button-change;
    margin: 10px 20px;
    &:hover {
        background: #7fc3a1;
        transition: background 1.2s ease-out;
    }
}

// Grass Color
.change-color.color-grass {
    @include button-bg(#7fc3a1);
    @extend %basic-button-change;
    margin: 10px 20px;
    &:hover {
        background: #ffa584;
        transition: background 1.2s ease-out;
    }
}

// Tangerine Color
.change-color.color-tangerine {
    @include button-bg(#ffa584);
    @extend %basic-button-change;
    margin: 10px 20px;
    &:hover {
        background: #94d2ff;
        transition: background 1.2s ease-out;
    }
}