// Basic button style CSS selector and its properties (for right tilt)
%basic-button-right {
    padding: 10px 30px;
    color: #232323;
    letter-spacing: 1.5px; // Spacing between letters
    font-family: $ff; // Main font style for button
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3; // Box shadow (Mozilla)
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3; // Box shadow (Safari)
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3; // Box shadow
    border-radius: 50px 15px; // Border for the button (for right tilt)
    margin: 0 auto;
    cursor: crosshair; // Cursor style
}

// Basic Button Colors with Right Tilt

// Robin Color
.right-tilt.color-robin {
    @include button-bg(#94d2ff);
    @extend %basic-button-right;
    margin: 10px 20px;
}

// Strawberry Color
.right-tilt.color-strawberry {
    @include button-bg(#fc7a66);
    @extend %basic-button-right;
    margin: 10px 20px;
}

// Avocado Color
.right-tilt.color-avocado {
    @include button-bg(#bada55);
    @extend %basic-button-right;
    margin: 10px 20px;
}

// Honeydew Color
.right-tilt.color-honeydew {
    @include button-bg(#fef88c);
    @extend %basic-button-right;
    margin: 10px 20px;
}

// Lilac Color
.right-tilt.color-lilac {
    @include button-bg(#d8b2d8);
    @extend %basic-button-right;
    margin: 10px 20px;
}

// Teal Color
.right-tilt.color-teal {
    @include button-bg(#9bdddd);
    @extend %basic-button-right;
    margin: 10px 20px;
}

// Cocoa Color
.right-tilt.color-cocoa {
    @include button-bg(#c9b2b4);
    @extend %basic-button-right;
    margin: 10px 20px;
}

// Grass Color
.right-tilt.color-grass {
    @include button-bg(#7fc3a1);
    @extend %basic-button-right;
    margin: 10px 20px;
}

// Tangerine Color
.right-tilt.color-tangerine {
    @include button-bg(#ffa584);
    @extend %basic-button-right;
    margin: 10px 20px;
}