// Button mixin that darkens background of button when you hover over it
@mixin button-bg($bg) { // Background variable with parameter
    background: $bg;
    &:hover {
        background: darken($bg, 10%); // Background darkens 10% upon hover
        transition: all 0.3s ease; // Transition property, duration and timing function
    }
    &:active {
        background: darken($bg, 25%); // Background darkens 25% once button is active
    }
    &:focus {
        outline: none;
    }
}

// Gradient button mixin
@mixin gradient-bg($bg1, $bg2, $bg3, $bg4) {
    background-image: linear-gradient(to left, $bg1, $bg2, $bg3, $bg4); // Linear gradient that starts from right to left
    padding: 10px 30px;
    color: #ffffff; // Text color
    letter-spacing: 1.2px;
    font-family: $ff3; // Third font style applied
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    border-radius: 30px; // Added rounded corners of button
    margin: 0 auto;
    cursor: crosshair; // Style of cursor
    box-shadow: 0 5px 5px 0 rgba(119, 119, 119, 0.75); // Box shadow around button
    &:focus {
        outline: none;
    }
}

// Basic button style CSS selector and its properties (for left tilt)
%basic-button {
    padding: 10px 30px; // Padding within the button
    color: #232323; // Text color
    letter-spacing: 1.5px;
    font-family: $ff; // Main font style applied
    font-weight: 700; 
    text-decoration: none;
    font-size: 18px;
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3; // Box shadow (Mozilla)
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3; // Box shadow (Safari)
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3; // Box shadow
    border-radius: 30px; // Added rounded corners of button
    margin: 0 auto;
    cursor: crosshair; // Style of cursor
}

// Transform property mixin
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}