// Sass Variables
$bg: #d0d0d0; // Default background color
$ff: Helvetica; // Main font style
$ff2: 'Khula', sans-serif; // Second font style
$ff3: 'Comfortaa', cursive; // Third font style

// Body
body {
    background: $bg; // Body passes background variable
}

// Main Title of Page
#mainTitle {
    font-size: 48px; // Font Size
    margin: 0 auto;
    margin-top: 50px; // Added margin on top of main title
    text-align: center; // Align centered
    font-family: 'Homemade Apple', cursive; // Font style
    letter-spacing: 1.5px; // Spacing between letters
}

// Subtitle
.subtitle {
    font-size: 24px; // Font size
    text-decoration: underline; // Underlined subtitle
    margin: 0 auto;
    margin-top: 50px; // Added margin on top of subtitle
    margin-bottom: 20px; // Added margin bottom of subtitle
    text-align: center; // Align centered
    font-family: 'Homemade Apple', cursive; // Font style
    letter-spacing: 1.2px; // Spacing between letters
}

// Regular Text
.regText {
    font-family: $ff3; // Font style;
    letter-spacing: 1.2px;
}

// Applied to div containing buttons and to div containing instructions
.buttons, .instructions, .hireMe {
    margin-top: 50px; // Added margin on top of div
    margin: 0 auto;
    width: 600px; // Width of div
    margin-bottom: 50px; // Margin added below div
}

// Horizontal rule
hr {
    border-top: 2px dashed #000000; // Dashed black border
    margin-bottom: 50px; // Added margin to bottom
}

// Biography pic
.bioPic {
    border-radius: 100px; 
    box-shadow: 0 5px 5px 0 rgba(119, 119, 119, 0.75); // Box shadow around pic
    float: left;
}

// Imports button styles
@import "button";
@import "buttonlefttilt";
@import "buttonrighttilt";
@import "buttoncolorchange";
@import "buttonrotate180";
@import "buttonzoomin";
@import "buttonrotate360";